:root{
	--white-text:#fff;
	--background:#c8e8f1;
	--black-text:rgb(68, 66, 66)	
	--prueba: (180deg,#21c8f6,#637bff);
}

.background1-left-column{
	background: linear-gradient(180deg,#21c8f6,#637bff);
}


.background2-left-column{
	background: linear-gradient(180deg ,#6edcc4,#1aab8b);
}


* {
	padding: 0;
	margin: 0;
	text-decoration: none;
	box-sizing: border-box;
	border: none;
}


body {
	background-color:  var(--background);	
	font-family: Arial, Helvetica, sans-serif;	
}

.container{
    grid-gap: 1rem;
	justify-content: center;
	height: 100vh;
    align-items: center;
}

.fila{
    display: flex;
}
.card {
	background-color:var(--white-text);
	border-radius: 1rem;
	box-shadow: 0 1rem 1rem rgba(0, 0, 0, 0.2);
	display: flex;	
	margin: 1.5rem;
	overflow: hidden;
	width: 25rem;
	height: 19rem;
}

.card h6 {
    font-size: 15px;
	opacity: 0.6;	
	letter-spacing: .1rem;
	text-transform: uppercase;
}

.card  h2 {
    font-size: 24px;
	letter-spacing: .1rem;
	margin: 1rem 0;
	color: var(black-text);
    text-transform: uppercase;
}

.left-column {	
	color: var(--white-text);
	padding: 2rem;
	max-width: 10rem;
	display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.left-column h2{
	color: var(--white-text);
}

.left-column img {
	width: 100px;
    height: 100px;
    border-radius: 50%;
    margin-bottom: 40px;
}

.left-column .logo{
    border-radius: 2px;
    width: 50px;
    height: 50px;
}

.right-column {
	padding: 20px;
	width: 100%;
	display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: space-between;
	
}

.right-column p{	
	font-size: .9rem;
	color: var(--black-text)
}

.button {
	border-radius: 3rem;
	box-shadow: 0 10px 10px rgba(0, 0, 0, 0.2);
	color: var(--white-text);
	font-size: 1.2rem;
	padding: .8rem 1.5rem;
	letter-spacing: .1rem;
	align-self: flex-end;
}

/*media queries*/

@media (max-width: 1030px) {
	.container{
		flex-direction: column;
		justify-content: center;
		align-items: center;
		height:auto;
	}
    .fila{
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
  }