*{
    margin: 0;
    padding: 0;
    outline: 0;
    box-sizing: border-box;
}

body{
    
    font-family: 'Roboto', sans-serif;
    padding: 50px;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.header{
    width: 100%;
    height: 30%;
    border-bottom: 1px solid black;
}
.header img{
    width: 100%;
    height: 500px;
     border-bottom: 1px solid black;
}

/*doctores*/

h2{
    margin-top: 30%;
    font-size: 70px;
    color: blue;
    text-align: center;
}


.tarjetas{
    /*border: 1px solid #2ed1ea;*/
    margin: 1%;
    align-items: center;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px,1fr));
    padding: 20px;
    grid-gap: 40px;
    
}

.tarjeta{
    width: 80%;
    height: 250px;
    align-content: center;
    text-align: center;
    border: 1px solid;
    background: rgb(91,85,191);
background: radial-gradient(circle, rgba(91,85,191,1) 0%, rgba(86,124,166,1) 33%, rgba(81,132,233,1) 65%, rgba(0,212,255,1) 100%);
    border-radius: 10px;
    overflow: hidden;
   
}
.tarjeta h3{
    padding: 25px;
    font-size: 25px;
    color: aliceblue;
    text-transform: uppercase;
}

.tarjeta h4{
    padding: 25px;
    font-size: 16px;
    color: aliceblue;
    text-transform: uppercase;
}

.tarjetas img{
    width: 55%;
    height: 150px;
    border-radius: 50%;
}

a{
    text-decoration: none;
    color: black;
    padding: 0;
}

.tarjeta:hover{
    height: 350px;
    width: 300px;
    border-radius: 5px;
    box-shadow: 0 0 30px grey;
}

footer{
    background-color: aquamarine;
    height: 50px;
    width: 100%;
}

